.test-class {
  color: purple; }

.page-footer {
  margin-top: 30px; }

.home-container {
  display: flex;
  flex-direction: column; }

.card-content-artist > div > p > a {
  color: white; }

.location {
  margin-bottom: 20px !important; }
